/* styles.module.css */
.Pagina1{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 14vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.palavras{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30vw;
    gap: 48px;
}

.palavra{
    color: var(--gray-500);
    font-size: 24px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    padding: 12px 0;
}

.palavra:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: var(--brown-500);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.palavra:hover:after { 
    width: 100%; 
    left: 0; 
}

.corpo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    max-width: 1800px;
}

.corpoTexto{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 5vw;
    gap: 12px;
}

.titulo{
    line-height: 100%;
    font-size: 56px;
    color: var(--brown-600);
}

.strong{
    font-weight: 500;
    color: var(--brown-700);
}

.subtitulo{
    color: var(--brown-500);
    font-size: 24px;
    padding-bottom: 8px;
    font-weight: 400 ;
}

.botaoVerMais{
    color: var(--gray-100);
    padding: 8px 24px;
    background-color: var(--brown-600);
    border-radius: 100px;
    border: 3px solid var(--brown-500);
    font-size: 16px;
    cursor: pointer;
}

.botaoVerMais:hover{
    background-color: var(--brown-700);
    border: 3px solid var(--brown-700);
    transition: 0.2s;
}

.corpoAvatar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.avatar{
    min-width: 400px;
    width: 25vw;
    max-width: 500px;
    padding-right: 88px;
}

.setas{
    position: fixed;
    right: 8vw;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.seta {
    fill: var(--brown-500);
    width: 48px;
    height: 48px;
}

.seta:hover{
    fill: var(--brown-600);
    cursor: pointer;
    transition: 0.2s;
}
