.Pagina4{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpoMaximo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 400px;
}

.titulo{
    padding: 0px 0px 24px 16px;
    font-size: 36px;
    color: var(--brown-700);

}

.corpo{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--brown-500);
    border-radius: 12px;
    width: 100%;
    background-color: var(--gray-200);
}

.inputs{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nome{
    width: 100%;
    border: 2px solid var(--brown-200);
    border-radius: 12px;
    height: 48px;
    font-size: 16px;
    background-color: var(--gray-100);
    padding-left: 16px;
    font-weight: 400;
    font-family: "League Spartan", sans-serif;
    color: var(--brown-700);
}

.nome::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: var(--brown-500);
    font-family: "League Spartan", sans-serif;
}

.nome:focus{
    outline: none;
}

.email{
    width: 100%;
    border: 2px solid var(--brown-200);
    border-radius: 12px;
    height: 48px;
    font-size: 16px;
    background-color: var(--gray-100);
    padding-left: 16px;
    font-weight: 400;
    font-family: "League Spartan", sans-serif;
    color: var(--brown-700);
}

.email::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: var(--brown-500);
    font-family: "League Spartan", sans-serif;
}

.email:focus{
    outline: none;
    
}

.email::content{
    font-size: 16px;
}

.mensagem{
    font-family: "League Spartan", sans-serif;
    width: 100%;
    border: 2px solid var(--brown-200);
    border-radius: 12px;
    height: 144px;
    font-size: 16px;
    background-color: var(--gray-100);
    padding-top: 8px;
    padding-left: 16px;
    resize: none;
    font-weight: 400;
    color: var(--brown-700);
}

.mensagem::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: var(--brown-500);
    font-style:normal;
    font-family: "League Spartan", sans-serif;
}

.mensagem:focus{
    outline: none;
}

.botoes{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px 24px 24px;
}

.enviar{
    color: var(--gray-100);
    background-color: var(--brown-600);
    padding: 6px 36px;
    font-size: 16px;
    line-height: 100%;
    border: 3px solid var(--brown-500);
    border-radius: 16px;
}
.enviar:hover{
    cursor: pointer;
    background-color: var(--brown-700);
    border: 3px solid var(--brown-700);
    transition: 0.2s;
}


.icones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.icone{
    width: 38px;
    height: 38px;
    fill: var(--brown-500);
}

.icone:hover{
    cursor: pointer;
    fill: var(--brown-600);
    transition: 0.2s;
}