.Pagina3{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpoMaximo{
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.titulo{
    padding-left: 16px;
    font-size: 32px;
    color: var(--brown-700);
}

.fotoProjeto{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    background-image: url("../../assets/card1.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    height: 256px;
    border: 3px solid var(--brown-500);
    border-radius: 20px;

}

.imagemProjeto {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

.descricaoProjeto{
    width: 100%;
    height: 200px;
    border: 3px solid var(--brown-500);
    border-radius: 20px;
    background-color: var(--gray-200);
}

.corpoCimaProjeto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 24px 0px 24px;
}

.tituloProjeto{
    color: var(--brown-700);
    font-size: 24px;
}

.dataProjeto{
    color: var(--brown-400);
    font-size: 16px;
}

.textoProjeto{
    color: var(--brown-500);
    padding: 16px 24px 8px 24px;
    text-align: justify;
}



.botoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none; 
}

.botoesEsquerda{
    display: flex;
    gap: 8px;
}

.botoesDireita{
    display: flex;
    gap: 8px;
}

.botao{
    background-color: var(--brown-400);
    border: 3px solid var(--brown-500);
    color: var(--gray-100);
    border-radius: 8px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
}

.botao:hover{
    cursor: pointer;
    background-color: var(--brown-500);
    transition: 0.2s;
}

.icone{
    width: 16px;
    height: 16px;
}