/* styles.module.css */
* {
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
}

.PaginaTotal {
  position: relative;
}

.setas {
  position: fixed;
  right: 20px;
  top: 40vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 10vw;
}

.seta {
  fill: var(--brown-500);
  width: 48px;
  height: 48px;
  border-radius: 12px;
}

.seta:hover {
  fill: var(--brown-600);
  cursor: pointer;
  transition: 0.2s;
}

.seta:active {
  fill: var(--brown-700);
}

/* Tablets */
@media (max-width: 1024px) {

  /* styles.module.css */
  * {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
  }

  .PaginaTotal {
    position: relative;
    background-color: aliceblue;
  }

  .setas {
    position: fixed;
    height: auto;
    right: 20px;
    top: 70vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 10vw;
  }

  .seta {
    fill: var(--brown-500);
    width: 48px;
    height: 48px;
    border-radius: 12px;
  }

  .seta:hover {
    fill: var(--brown-600);
    cursor: pointer;
    transition: 0.2s;
  }

  .seta:active {
    fill: var(--brown-700);
  }


}

/* Mobile */
@media (max-width: 767px) {

  /* styles.module.css */
  * {
    font-family: "League Spartan", sans-serif;
    font-weight: 500;
  }

  .PaginaTotal {
    position: relative;
    background-color: antiquewhite;
  }

  .setas {
    position: fixed;
    right: 20px;
    top: 40vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 10vw;
  }

  .seta {
    fill: var(--brown-500);
    width: 48px;
    height: 48px;
    border-radius: 12px;
  }

  .seta:hover {
    fill: var(--brown-600);
    cursor: pointer;
    transition: 0.2s;
  }

  .seta:active {
    fill: var(--brown-700);
  }


}